name: Build Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  Build:
    name: Release APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Get Tag
        id: var
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      # 创建 local.properties 文件
      - name: Create local.properties
        run: |
          cat << EOF > local.properties
          MAPS_API_KEY=${{ secrets.MAPS_API_KEY }}
          MAPS_SAFE_CODE=${{ secrets.MAPS_SAFE_CODE }}
          EOF

      - name: Build APK
        run: bash ./gradlew assembleRelease

      - name: Get Build Tool Version
        shell: bash
        run: |
          BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)
          echo "BUILD_TOOL_VERSION=$BUILD_TOOL_VERSION" >> $GITHUB_ENV
          echo Last build tool version is: $BUILD_TOOL_VERSION

      # https://github.com/marketplace/actions/sign-android-release
      - name: Sign APK
        id: sign_apk
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: ${{ env.BUILD_TOOL_VERSION }}

      - name: Get Signed APK Name
        run: |
          FULL_PATH=${{steps.sign_apk.outputs.signedReleaseFile}}
          FILENAME=$(basename "$FULL_PATH")
          echo "FILENAME=${FILENAME}" >> $GITHUB_ENV

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILENAME }}
          path: ${{steps.sign_apk.outputs.signedReleaseFile}}

      # https://github.com/marketplace/actions/auto-changelog
      - name: Make Changelog
        uses: ardalanamini/auto-changelog@v4.0.4
        id: changelog
        if: startsWith(github.ref, 'refs/tags/')
        with:
          github-token: ${{ github.token }}
          commit-types: |
            feat: New Features
            fix: Bug Fixes
            build: Build System & Dependencies
            perf: Performance Improvements
            docs: Documentation
            test: Tests
            refactor: Refactors
            chore: Chores
            ci: CI
            style: Code Style
            revert: Reverts
          default-commit-type: Other Changes
          mention-authors: true
          mention-new-contributors: true
          include-compare-link: true
          # 使用标签作为 release-name
          release-name: ${{ steps.var.outputs.tag }}
          include-pr-links: true
          include-commit-links: true
          semver: true
          use-github-autolink: true
          # 添加输出文件路径配置
          output: CHANGELOG.md

      - name: Upload Changelog
        uses: actions/upload-artifact@v4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: Changelog
          # 指定确切的文件路径
          path: CHANGELOG.md

      # https://github.com/marketplace/actions/gh-release
      - name: Release APK
        uses: softprops/action-gh-release@v2.3.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ github.token }}
          # 读取 CHANGELOG.md 文件内容作为 Release 描述
          body_path: CHANGELOG.md
          prerelease: false
          files: ${{steps.sign_apk.outputs.signedReleaseFile}}
